#blog-page-content {
    color: #6c634b;
    line-height: 2em;
}

#blog-page-content .comment-add {
    color: #442917;
}

 #blog-page-content .post .thumb {
    width: 219px;
    height: 219px;
}

#blog-page-content .post-comments .comment-title {
    color: #442917;
    font-style: normal;
    font-weight: bold;
}

#blog-page-content .post-comments .thumb {
    margin-bottom: 20px;
}

#blog-page-content .post-comments .comment div:nth-child(2) {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

#blog-page-content aside {
    line-height: 26px;
}

#blog-page-content aside .recent-data {
    margin-bottom: 30px;
}

 #blog-page-content aside .recent-data ul {
    padding-left: 10px;
}

#blog-page-content aside .recent-data ul a {
    font-family: Georgia;
    color: #6c634b;
}
