@font-face {
    font-family: LeagueGothic;
    src: url('../fonts/LeagueGothic-Regular.otf') format("opentype");
}

@font-face {
    font-family: HelveticaBold;
    src: url('../fonts/Helvetica-Bold.otf') format("opentype");
}

/*menu wrapper*/

#wrapper-background {
    width: 100%;
    height: 243pt;
    top: -200px;
    background-color: #471414;
     /* Old browsers */
    background: -moz-radial-gradient(bottom, ellipse cover, #76422f 0, #5d261c 25%, #461312 55%, #471414 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(bottom, ellipse cover, #76422f 0, #5d261c 25%, #461312 55%, #471414 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -radial-gradient(ellipse at bottom, #76422f 0, #5d261c 25%, #461312 55%, #471414 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: #fff;
}



.content-area-container #location-page-content p {
    font-style: normal;
}

.page-title {
    padding-top: 230px !important;
    padding-left: 17%;
    font-family: "LeagueGothic", serif;
}
.header-title {
    /*margin-top: -520px !important;*/

    font-style: normal;
    color: white;
    text-transform: uppercase;
    z-index: 1000;
    font-size: 30pt;

}

.header-title .header-body {
    color: #dacba7 !important;
    font-family: HelveticaBold, sans-serif;
}

.contentMain-content-area {
    background-color: #f5f3da;;
}

.contentMain-content-area #breadcrumbs {
    min-height: 72px;
    border-bottom: 1px solid rgba(101, 78, 45, .2);
    background-color: #fbfbf8;
    margin-bottom: 57px;
    padding-left: 17%;
}

 .contentMain-content-area #breadcrumbs .container .myCuisine-search {
    padding-top: 13px;
     padding-right: 17%;
}

.contentMain-content-area #breadcrumbs .container .myCuisine-search input {
    margin: 5px;
}

.contentMain-content-area #breadcrumbs .container .myCuisine-search #search-input {
    border-radius: 20px;
    white-space: nowrap;
    font-style: italic;
    padding: 8px 18px;
    width: 180px;
    vertical-align: middle;
    color: #858585;
    border: 1px solid #b1b1b1;
    box-shadow: inset 0 2px 0 2px #e0e0e0;
    text-shadow: 1px 1px 1px #fff;
    background: #e0e0e0;
    /* Old browsers */
    /*background: -moz-radial-gradient(top, #e0e0e0 0%, #f6f6f6 100%);*/
    /*!* FF3.6-15 *!*/
    /*background: -webkit-radial-gradient(top, #e0e0e0 0%, #f6f6f6 100%);*/
    /*!* Chrome10-25,Safari5.1-6 *!*/
    /*background: -radial-gradient(to bottom, #e0e0e0 0%, #f6f6f6 100%);*/
    /*!* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
}

.myCuisine-search #search-button {
    outline: none;
    margin-top: -12px !important;
}

.myCuisine-search #search-input:focus {
    outline: none;
}

.breadcrumb {
    font-size: 1.2em;
    margin: 0;
    padding: 26px 15px 0 0;
    list-style: none;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    vertical-align: baseline;
}

.container .breadcrumb a {
    color: #a29d79;
}

.breadcrumb > li + li:before {
    content: "\00BB ";
}

.breadcrumb > li + li:before a {
    color: #a29d79;
}

.breadcrumb > .active {
    color: #442917;
}
.content-items #location-page-content .thumbnail {
    /*width: 00px;*/

}

.content-items #location-page-content .thumbnail #map {
    height: 400px;

}

.content-items #location-page-content p {
    color: #442917;
    font-size: 1.3em;
    font-family: "Georgia", serif;
}

.content-items #location-page-content p span {
    color: #6c634b;
}



.work-time {
    padding: 0;
}

.work-time .day {
    font-size: 1.5em;
}

.work-time .clock {
    color: #442917;
}

.map-locationpage {
    margin-left: 30px;
    width: 600px;
}

.contentMain-content-area .content-area-container .content-items #testimonials .testimonial {
    box-shadow: 1px 1px 1px rgba(81, 51, 27, 0.6), 0 0 1em #51331b, 0 0 0.2em #51331b;
}

.contentMain-content-area .content-area-container .content-items #testimonials .testimonial h1, #wrapper #contentMain .contentMain-content-area .content-area-container .content-items #testimonials .testimonial h2, #wrapper #contentMain .contentMain-content-area .content-area-container .content-items #testimonials .testimonial h3, #wrapper #contentMain .contentMain-content-area .content-area-container .content-items #testimonials .testimonial h4, #wrapper #contentMain .contentMain-content-area .content-area-container .content-items #testimonials .testimonial h5, #wrapper #contentMain .contentMain-content-area .content-area-container .content-items #testimonials .testimonial h6 {
    margin: 0;
    padding: 0;
}

#location-page-content h3 {
    font-family: LeagueGothic, serif;
    font-size: 22pt;
    color: #cac6a1;
    text-transform: uppercase;
}