@font-face {
    font-family: LeagueGothic;
    src: url('../fonts/LeagueGothic-Regular.otf') format("opentype");
}

@font-face {
    font-family: GoudyBookletter;
    src: url('../fonts/goudy_bookletter_1911.otf') format("opentype");
}

.slider-title {

           font-family: "LeagueGothic", serif;
           font-style: normal;
           color: white;
           text-transform: uppercase;
           position: absolute;
           margin-top: 50%;
           display: inline;
           z-index: 1000;
           font-size: 30pt;

       }

/*@media (max-width: 500px) {*/
    /*#home-recommend, #home-location, #home-testimonials {*/
        /*width:100%;*/
        /*margin:auto auto auto 0;*/
    /*}*/
/*}*/

/*@media (min-width: @screen-sm-min) {*/

    /*#home-recommend, #home-location, #home-testimonials {*/
    /*width:100%;*/
    /*margin:auto auto auto 0;*/
    /*}*/
/*}*/
@media screen and (min-width: 480px) {
    .navigation .container-fluid .navbar-nav  li> a:focus::after {
        border-bottom: 8px solid rgba(134, 130, 115, 0.95);
        bottom: -15px;
        content: " ";
        left: 0;
        position: absolute;
        right: 0;
        text-decoration: none !important;
    }
    .navigation .container-fluid .navbar-nav li >a:focus::before {
        border-top: 8px solid rgba(134, 130, 115, 0.95);
        top: -15px;
        content: " ";
        left: 0;
        position: absolute;
        right: 0;
        text-decoration: none !important;
    }
}

    /* Small devices (tablets, 768px and up) */
    @media screen and (max-width: 992px) and (min-width: 768px) {
        /*.recommendations {*/
    /*padding-left: 66px!important;*/
        /*}*/
        nav {
             margin-left: 0 !important;
         }

        .home-view-container {
            margin: 0 auto !important;
        }
        .testimonials {
            padding-left:0px !important;
        }
    }
/* XS Small devices (under 768px) */
@media screen and (max-width: 769px) {

    nav {
        margin-left: 0 !important;
        width: 100% !important;
    }
    .home-img {
        margin-right: 10px !important;
    }
    #navbarsExampleDefault li {
        display: inline-block;
    }
    #navbarsExampleDefault {
        margin: 0 auto !important;
    }

    #navbarsExampleDefault {
        margin: 0 auto !important;
    }
    .recommendations {
        padding-left: 33px!important;
    }

    .testimonials {
        padding-left: 33px!important;
    }

    .navbar-nav {
        padding-right: 0px;
        text-align: left;
        padding-left: 20px !important;
        margin: 0;
    }
    .slider-title {
        padding-left: 21px !important
    }

    .thumb {
        height: 85px !important;
    }

}

@media screen and (max-width: 1000px) and (min-width: 766px) {
    .home-img {
        width: 70px;
    }
    .menu-home {
        margin-left: 20px !important;
    }
    .testimonials {
        padding-left: 30px !important;
    }
    .recommendations {
        padding-left: 30px !important;
    }
    .home .embed-responsive-4by3 {

        padding-bottom: 50%;
    }

}

@media screen and (max-width: 1600px) and (min-width: 1000px) {
    .home-img {
        width: 70px;
    }
    .menu-home {
        margin-left: 10px !important;
    }

}


@media screen and (max-width: 766px) and (min-width: 350px) {
    .home-img {
        width: 70px;
    }

    .menu-home {
        margin-left: 80px !important;
    }
    .home .embed-responsive-4by3 {

        padding-bottom: 50%;
    }
}


body {
    max-width: 100%;
    margin:0 auto;
    list-style-type: none;
    background-color: #f5f3da;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
.hidden {
    display: none;
}
.clearfix::after {
    display: block;
    content: "";
    visibility: hidden;
    height: 0;
    clear: both;
}
html {
    position: relative;
    min-height: 100%;
}

.container-fluid {

}

li a {
 text-decoration: none !important;
}

nav {

margin-left: 17%;
    /*height: 70px;*/
    width:83%;
}
.navigation {
    background-image: url('../images/header-bg.jpg');
    z-index: 999;
    font-size: 0.85em;
    margin-right: 0 !important;
    position: absolute;
    top: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;


    /*right: 0 !important;*/

    left: auto;

}
.navigation .container-fluid {
    padding-right: 0;
    padding-left: 0;
    /*position: relative;*/
    /*right: 0 !important;*/
}
.navigation .container-fluid .navbar-toggler {
    background-color: rgba(255, 255, 255, 0.8);
    color: #88b467;
}
.navigation .container-fluid .dropdown-menu {
    background-image: url('../images/header-bg.jpg');
    border: none;
    padding: 20px;
    line-height: 25px;
    font-size: 1em;
}
.navigation .container-fluid .dropdown-menu .dropdown-item {
    display: block;
}
.navigation .container-fluid .dropdown-menu .dropdown-item a {
    text-align: left;
}

.navigation .container-fluid .dropdown-menu .dropdown-item:hover {
    background-color: transparent;
}
.navigation .container-fluid .nav-item .nav-link,
.navigation .container-fluid .dropdown-menu .dropdown-item {
    color: #fff;
    font-size: 1.3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}
.navigation .container-fluid .nav-item .nav-link:visited,
.navigation .container-fluid .dropdown-menu .dropdown-item:visited {
    color: #fff;

}


.navigation .container-fluid .nav-item .nav-link {
    padding-right: 0;
    padding-left: 0;
}

li.nav-item {
    margin-left: 15px;
}

.navbar-nav {
    padding-right: 26%;
    float: right;
}
.navigation .container-fluid .navbar-nav > li {
    position: relative;
    text-decoration: none;
    list-style-type: none;
    text-align: left;
}
.navigation .container-fluid li:hover >a {
    font-style: italic;
    color: #eee4ba !important;
    text-decoration: none;
}

.navigation .container-fluid li a:visited {
    text-decoration: none;
}

.img-thumbnail {
    height: 70px;
}

li a {
    color: white;

    text-decoration: none;
}


.navbar-brand>img {
    display: block;
    margin-top: -7px;
    margin-left: 15px;
}

.navigation .container-fluid .dropdown-menu li:hover a {
    font-style: italic;
    height: 65px;
    padding-top: 25px;
    text-decoration: none;
    background-color: transparent;
    text-align: left;
}

li a:focus {
    background-color: transparent;
}

#main-content {
    /*position: relative;*/
    /*top: -130px !important;*/
    /*bottom: -130px !important;*/


}
.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../images/img-loading.gif') 50% 50% no-repeat rgba(250, 250, 250, 0.95);
}




/*.open>.dropdown-menu {*/
    /*display: block;*/
/*}*/
/*!*.navbar-toggle {*!*/
    /*!*margin-top: 15px; }*!*/
/*ul.dropdown-menu {*/
    /*position: absolute;*/
    /*background-color: #6c634b;*/
    /*top: 100%;*/
    /*left: 0;*/
    /*z-index: 1000;*/
/*height: 300px;*/
    /*float: left;*/
    /*min-width: 160px;*/
    /*padding: 5px 0;*/
    /*margin: 2px 0 0;*/
    /*font-size: 14px;*/
    /*text-align: left;*/
    /*list-style: none;*/
    /*box-shadow: 0 6px 12px rgba(0,0,0,.175);*/

/*}*/

/*.navbar .dropdown-menu li a {*/
    /*background: none;*/
    /*color: #ffffff !important;*/
    /*font-style: italic;*/
    /*height: 30px;*/
    /*padding-top: 15px;*/
/*}*/



/*slider*/

#slider {


}
.carousel-inner > .item > img{
    /*margin-top:0px;*/
    padding-top: 0%;
    position: relative;
    top: 0;
    /*left: 0;*/
    margin-top:0px!important;
    /*interval: true;*/
    width: 100%;
    height: 500px !important;
    color: white;
    overflow: hidden;
    filter: brightness(50%);


    /*style="cursor: default; position: relative; top: 0; left: 0; height: 500px; overflow: hidden;"*/
}

.carousel-caption {
    text-shadow: none;
}
.carousel-inner .item .carousel-caption p {
    text-align: left;
    margin-left: -38px;
    max-width: 350px;
}


.slider-description {

    text-transform: none;
    font-size: 18pt;
    font-family: "LeagueGothic", serif;
    position: relative;
    color: white;
    /*width: 100%;*/

}

.slider-description .slider-button {
    text-align: left;
    margin-left: -38px;
}

.carousel-indicators{
    margin-right: 51%;
    /*background-color: #442917;*/

}

.carousel-indicators .active {
    background-color: #ffffff;

}



.carousel-indicators li {

}

.carousel-caption p {
    padding-left: -80%;
}

.page-title {
    /*padding-top: 220px !important;*/
    padding-left: 16%;
}
/*.header-title {*/
    /*@apply --slider-title;*/
    /*padding-top: 220px !important;*/
    /*color: #6c634b;*/
/*}*/

.header-title .header-body {
    color: #dacba7 !important;
    font-family: HelveticaBold, sans-serif;
}
/*slogan*/

#slogan {
    min-height: 110px;
    text-shadow: 1px 1px 1px #fff;
    border-bottom: 1px solid rgba(101, 78, 45, .2);
    background-color: #fafaf7;
    color: #654e2d !important;
    font-family: "GoudyBookletter", serif !important;
}





/*search*/

.myCuisine-search {
    padding-top: 13px;
}

.myCuisine-search input {
    margin: 5px;
}

.myCuisine-search #search-input {
    border-radius: 20px;
    white-space: nowrap;
    font-style: italic;
    padding: 8px 18px;
    width: 180px;
    vertical-align: middle;
    color: #858585;
    border: 1px solid #b1b1b1;
    box-shadow: inset 0 2px 0 2px #e0e0e0;
    text-shadow: 1px 1px 1px #fff;
    background: lightgrey;
    /* Old browsers */
    /*background: -moz-radial-gradient(top, #e0e0e0 0%, #f6f6f6 100%);*/
    /*!* FF3.6-15 *!*/
    /*background: -webkit-radial-gradient(top, #e0e0e0 0%, #f6f6f6 100%);*/
    /*!* Chrome10-25,Safari5.1-6 *!*/
    /*background: -radial-gradient(to bottom, #e0e0e0 0%, #f6f6f6 100%);*/
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.myCuisine-search #search-input:focus {
    outline: none;
}



.center{
    text-align: center;
}

.home {
   width: 100%;

}

/*main*/
.content-area-container {
    height: 36%;
    background-color: #f5f3da;
}

.content-area-container p{
    font-style: italic;
}
.content-area-container .content-items {
   margin-top:3%;
}
.content-area-container .content-items a {
    font-family: "LeagueGothic", serif;
    font-style: normal;
    color: #442917;
    letter-spacing: -1px;
}

.recommendations {
    padding-left: 0px;
}

.second-title {
    font-family: "LeagueGothic", serif;
    font-style: normal;
    font-size: 22px;
    color: #442917;
    text-transform: capitalize;

}

.home .container-fluid {
    max-width: 958px;
    margin: 0 auto;
    position: relative;
    padding-top: 2.6em;
    padding-left: 0px;
    padding-right: 0px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 15px;
}

.home-main {
    margin-top: 20px;
    padding-left: 13px;
    width: 100%;
}

.main-text {
    font-family: "Georgia", serif;
    color: #92907c;
    font-style: italic;
    margin-top: -8px;
    margin-bottom: 0px;
}

.readmore {
    font-family: "Georgia", serif;
    color: #92907c;
    font-style: italic;
    margin-top: -30px;
}

div .recommend-title {
    margin-top: 0;
}

#btn-browse-menu{
    background-color: #f5f3da;
}
.browse-content-btn:hover {
    text-shadow: none !important;
    font-style: italic;
}
.browse-content-btn {
    border-radius: 18px;
    border: 1px solid rgba(65, 58, 39, 0.8);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6), 0 0 1em black, 0 0 0.2em black !important;
    color: #fff;
    text-align: center;
    font-style: normal;
    font-size: 0.9em;
    background: #88b467;
    margin-bottom: -12px;

    /* Old browsers */
    /*background: -moz-radial-gradient(top, #88b467 0%, #698d4d 100%);*/
    /*!* FF3.6-15 *!*/
    /*background: -webkit-radial-gradient(top, #88b467 0%, #698d4d 100%);*/
    /*!* Chrome10-25,Safari5.1-6 *!*/
    /*background: -radial-gradient(to bottom, #88b467 0%, #698d4d 100%);*/
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.home-menu-btn {
    width: 250px !important;
    position: relative;


}

.browse-content-btn:focus {
    outline: none;
}



/*footer*/


.recent-data {
    text-align: left;
    border-bottom: 1px solid rgba(101, 78, 45, .2);
    padding-bottom: 25px;
    color: #442917 !important;
}
#myCuisine-footer {
    padding-top: 35px;
    background-color: #fafaf7;
    border-top: 1px solid rgba(101, 78, 45, .2);
}

.content-footer .container .row {
    line-height: 24px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d5cf9d;
}

.content-footer .container .row div {
    padding-right: 15px;
}

#myCuisine-footer .row div ul {
    margin: 0;
    padding-left: 10px;
}

#myCuisine-footer ul a {
    color: #442917;
}

#myCuisine-footer {
    padding-top: 15px;
    background-color: #f2f1e8;
    color: #442917;
    font-family: Georgia, serif;
}

#myCuisine-footer nav #copyright {
    color: #92907c;
    padding-bottom: 25px;
}

nav #copyright a {
    color: #686650;
}

.lower-footer {
    margin: 0;
    width: 100%;
    text-align: center;
    display: inline-block;

}

.lower-footer li {
    text-transform: uppercase;
    display: inline-block;
    margin-right: 5px;
}


.lower-footer li a {
    color: #442917;
    text-decoration: none;
}

footer li a:hover {
    color: #cac6a1 !important;
    font-style: italic;
}

#myCuisine-footer h3 {
    color: #cac6a1;
    text-transform: uppercase;
    font-family: LeagueGothic, serif;
}

.recent-comments {
    padding-right: 0px;
}



/*main home content*/

.main-title {
    color: #cac6a1;
    font-family: "LeagueGothic", serif;
    font-size: 22pt;
    text-transform: uppercase;
}

#btn-browse-menu .btn {
 background-color: #a39e7a;
}

#home-recommend {
    width: 24%;
    margin-left: 17%;
    /*margin-top: 10%;*/
}

.menu-item-body h3 {
    font-family: "LeagueGothic", serif;
    font-size: 22pt;
    color: #442917;
    text-transform: capitalize;
    /*margin-left: -1px;*/
    margin-top: 26px;

}

.menu-item-body h3 {
    font-family: "LeagueGothic", serif;
    font-size: 22pt;
    color: #442917;
    text-transform: capitalize;
    /*margin-left: -1px;*/
    margin-top: 26px;

}

.menus .menu-item-body h3  {
    font-family: "LeagueGothic", serif;
    font-size: 22pt;
    color: #442917;
    text-transform: capitalize;
    /*margin-left: -1px;*/
    margin-top: 6px !important;

}

.thumb {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out;
    max-width: 70px;
    height: 70px;
}




/*home*/
.container-fluid .testimonials {
    padding-left: 40px;
    margin-bottom: 20px;
}


.container-fluid .recommendations {
    margin-bottom: 25px;
}


.container-fluid .embed-location {
    margin-left: 30px;
    width: 600px;
}
.container-fluid .map {
    padding-left: 33px;
    margin-right: 0px;
    margin-bottom: 25px;
}

.container-fluid .map .embed-responsive {
    height: 100px !important;
    max-width: 260px;
    border: 3px solid #ffffff;
}
.container-fluid .map span {
    padding-right: 3px;
}
.container-fluid .embed-responsive iframe {
    width: 100%;
    /*padding: 5px;*/
}
.container-fluid .location {
    font-size: 1.17em;
    font-family: 'Georgia', serif;
    color: #908f7c;
    font-style: italic;
    margin-top: 0.4rem;
}

.day {
    font-family: 'LeagueGothic', serif;
    color: #908f7c;
    text-transform: uppercase;
}
#wrapper section .container-fluid .time {
    font-family: 'LeagueGothic', serif;
    font-size: 1.5em;
    color: #c8c5a1;
    text-transform: uppercase;
}
.container-fluid .time .hour {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.78em;
    color: #402d1e;
    text-transform: none;
}
.container-fluid .testimonials {
    padding-right: 0;
    padding-left: 70px;
}
.container-fluid .bubble {
    position: relative;
    width: 225px !important;
    background-color: #fff;
    border: 1px solid #DAD6BA;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 15px 15px 10px 15px;
    text-align: left;
    z-index: 5;
}
 .container-fluid .bubble img {
    float: left;
    max-width: 28%;
    margin-right: 15px;
}
.container-fluid .bubble .testimonials-bubble p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    font-style: italic;
    color: #908f7c;
    line-height: 20px;
}
.container-fluid .bubble .testimonials-bubble h5 {
    font-family: 'LeagueGothic', serif;
    font-weight: normal;
    font-size: 1.83em;
    color: #402d1e;
    text-transform: capitalize;
}
.container-fluid .bubble:after {
    content: ' ';
    position: absolute;
    border-style: solid;
    border-width: 0 20px 20px;
    display: block;
    width: 0;
    border-color: transparent #fff transparent transparent;
    z-index: 2;
    bottom: -20px;
    left: 70%;
}
.container-fluid .info-location {
    color: #534439;
    font-size: 1.17em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5em;
}
.container-fluid .info-parts {
    margin-bottom: 2.88em;
    padding-left: 6px;
}
.container-fluid .info-parts h5 {
    padding-bottom: 0px;
}



