@font-face {
    font-family: LigueGothic;
    src: url('../fonts/LeagueGothic-Regular.otf') format("opentype");
}

li {
    list-style-type: none;
}


#wrapper #myCuisine-header {
    position: absolute;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    z-index: 1000;
    width: 100%; }
/*nav*/
#wrapper #myCuisine-header nav {
    width: 85%;
    border: none;
    border-right: none;
    padding: 0;
    background-color: #999281;
    /*color: #fff;*/
    height: 67px;
    margin-right: 0% !important;
    position:absolute;
    right:0;
    padding-right: 5%;
    margin-left:15%;
    box-shadow: -3px 3px 3px black;
    /*width: 100%;*/
}

/*menu*/

#myCuisine-navbar-collapse{
    float: right;
}
#myCuisine-navbar-collapse ul {
    font-family: "Georgia";
    font-size: 12pt;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: 3%;
    padding-right: 100px;
}

#myCuisine-navbar-collapse li {
    float: left;
}

/*li a {*/
    /*color: white;*/
    /*text-align: center;*/
    /*text-decoration: none;*/
/*}*/

#myCuisine-navbar-collapse li a {
    color: white;
    display: inline;
    text-align: center;
    padding: 11px;
    text-decoration: none;
}

#myCuisine-navbar-collapse li a:hover {
    /*background: url(../images/current-bg.png) repeat-x 0 3px;*/
    color: #eee4ba !important;
    font-style: italic;
    height: 65px;
    padding-top: 25px;
    text-decoration: none;
}
#myCuisine-navbar-collapse li a:focus{
    background: url(../images/current-bg.png) repeat-x 0 3px;
    color: #eee4ba !important;
    font-style: italic;
    height: 65px;
    padding-top: 25px;
text-decoration: none;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../images/img-loading.gif') 50% 50% no-repeat rgba(250, 250, 250, 0.95);
}

.navbar-header{
    display:inline;
}


/*slider*/

.carousel-inner > .item > img{
    /*margin-top:0px;*/
    padding-top: 0%;
    position: relative;
    top: 0;
    /*left: 0;*/
    margin-top:0px!important;
    /*interval: true;*/
    width: 100%;
    height: 500px;
    color: white;
    overflow: hidden;

    /*style="cursor: default; position: relative; top: 0; left: 0; height: 500px; overflow: hidden;"*/
}

.slider-title {
    font-family: "LeagueGothic-Regular", serif;
    font-style: normal;
    color: white;
    text-transform: uppercase;
    position: absolute;
    margin-top: 50%;
    margin-left: -63%;

    padding-left: 15%;
    /*width: 100%;*/
    display:inline;
    z-index: 1000;
    font-size: 48pt;
    folat: left;

}

.slider-description {
    /*position: relative;*/
    /*margin-top: 2%;*/
    padding-left: 15%;
    text-transform: none;
    font-size: 14pt;
    font-family: "LeagueGothic-Regular", serif;
    position: relative;
    margin-left: -21%;
    /*width: 100%;*/

}

.slider-description .browse-content-btn {
    position: relative;

}

.carousel-indicators {
    margin: auto;
    margin-right: 51%;
}

.carousel-indicators li {

}
/*slogan*/

#slogan {
    font-family: LeagueGothic;
    background-color: #fbfaf7;
}

/*search*/

.myCuisine-search {
    padding-top: 13px;
}

.myCuisine-search input {
    margin: 5px;
}

.myCuisine-search #search-input {
    border-radius: 20px;
    white-space: nowrap;
    font-style: italic;
    padding: 8px 18px;
    width: 180px;
    vertical-align: middle;
    color: #858585;
    border: 1px solid #b1b1b1;
    box-shadow: inset 0 2px 0 2px #e0e0e0;
    text-shadow: 1px 1px 1px #fff;
    background: #e0e0e0;
    /* Old browsers */
    background: -moz-radial-gradient(top, #e0e0e0 0%, #f6f6f6 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(top, #e0e0e0 0%, #f6f6f6 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -radial-gradient(to bottom, #e0e0e0 0%, #f6f6f6 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.myCuisine-search #search-input:focus {
    outline: none;
}



.center{
    text-align: center;
}

.home {
   width: 100%;
}

/*main*/
.content-area-container {
    background-color: #f2f0d7;

}

.content-area-container .content-items a {
    font-family: "LeagueGothic-Regular", serif;
    font-style: normal;
    color: #442917;
    letter-spacing: -1px;
}

#location-home #map {
    height: 150px;
}

#location-home .work-time {
    padding: 0;
}

#location-home .work-time .day {
    font-size: 1.5em;
}

#location-home .work-time .clock {
    color: #442917;
}

#testimonials .testimonial {
    box-shadow: 1px 1px 1px rgba(81, 51, 27, 0.6), 0 0 1em #51331b, 0 0 0.2em #51331b;
}

.testimonial h1, #wrapper #contentMain .contentMain-content-area .content-area-container .content-items #testimonials .testimonial h2, #wrapper #contentMain .contentMain-content-area .content-area-container .content-items #testimonials .testimonial h3, #wrapper #contentMain .contentMain-content-area .content-area-container .content-items #testimonials .testimonial h4, #wrapper #contentMain .contentMain-content-area .content-area-container .content-items #testimonials .testimonial h5, #wrapper #contentMain .contentMain-content-area .content-area-container .content-items #testimonials .testimonial h6 {
    margin: 0;
}

.browse-content-btn {
    border-radius: 18px;
    border: 1px solid rgba(65, 58, 39, 0.8);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6), 0 0 1em black, 0 0 0.2em black;
    color: #fff;
    text-align: center;
    font-style: normal;
    font-size: 1.3em;
    background: #88b467;
    /* Old browsers */
    /*background: -moz-radial-gradient(top, #88b467 0%, #698d4d 100%);*/
    /*!* FF3.6-15 *!*/
    /*background: -webkit-radial-gradient(top, #88b467 0%, #698d4d 100%);*/
    /*!* Chrome10-25,Safari5.1-6 *!*/
    /*background: -radial-gradient(to bottom, #88b467 0%, #698d4d 100%);*/
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.browse-content-btn.home-menu-btn {
    width: 250px !important;
    overflow: hidden;
}

.browse-content-btn:focus {
    outline: none;
}

/*footer*/
.myCuisine-footer {
    padding-top: 35px;
    background-color: #fafaf6;
}

.content-footer .container .row {
    line-height: 24px;
    color: #442917 !important;
    padding-bottom: 15px;
    border-bottom: 1px solid #d5cf9d;
}

.content-footer .container .row div {
    padding-right: 15px;
}

.myCuisine-footer .row div ul {
    margin: 0;
    padding-left: 10px;
}

.myCuisine-footer ul a {
    color: #442917 !important;
}

#myCuisine-footer {
    padding-top: 15px;
    background-color: #f2f1e8;
}

#myCuisine-footer nav #copiright {
    color: #92907c;
    padding-bottom: 25px;
}

#myCuisine-footer nav #copiright a {
    color: #686650;
}

#myCuisine-footer nav .navbar-nav {
    margin: 0;
    width: 100%;
    text-align: center;
}

#myCuisine-footer nav .navbar-nav li {
    text-transform: uppercase;
}

#myCuisine-footer nav .navbar-nav li.active a {
    font-style: italic;
    color: #a29d79;
    background-color: transparent;
}

#myCuisine-footer nav .navbar-nav li a {
    color: #442917;
    text-decoration: none;
}

#myCuisine-footer nav .navbar-nav li a:hover {
    color: #a29d79;
}

#myCuisine-footer nav .navbar-nav li {
    float: none;
    display: inline-block;
}

