@font-face {
    font-family: LeagueGothic;
    src: url('../fonts/LeagueGothic-Regular.otf') format("opentype");
}


.cakes {
    float: left;
    display: inline-block;
    margin-left: 17%;
}
.pancakes {
    float: right;
    display: inline-block;
}

.menu-item .menu-item-price {
    display: block;
    position: absolute;
    background: url(../images/PriceLabel.png) no-repeat bottom left;
    top: 12px;
    left: -8px;
    font-size: 18px;
    /*padding-left: 8px;*/
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6), 0 0 1em black, 0 0 0.2em black;
    letter-spacing: 1px;
    padding: 3px;
    padding-bottom: 8px;
}

.thumb .img-thumbnail {
    padding: 0px !important;
    width: 80px;
}


.menu {
    height: 80% !important;
    width: 100%;
    padding-bottom:30px;
}

.cakes, .tarts, .pancakes {
    width: 25%;

    /*margin-top: 10%;*/
}
.cakes {
    margin-left: 17%;
}

.pancakes {
    margin-right: 5%;
}

.tarts {
    margin-left: 2%;
}

.category-menu {
    margin-left: 17%;
}

.category-menu ul li .col-md-4 span.price-tag {
    display: block;
    position: absolute;
    top: 14px;
    left: 7px;
    font-size: 1.33em;
    height: 32px;
    font-family: 'LeagueGothic', serif;
}
.menu-item-price {
    display: block;
    position: absolute;
    background: url(../images/PriceLabel.png) no-repeat bottom left;
    top: 12px;
    left: -1px;
    font-size: 18px;
    /*padding-left: 8px;*/
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6), 0 0 1em black, 0 0 0.2em black;
    letter-spacing: 1px;
    padding: 3px;
    padding-bottom: 8px;
}
.category-menu ul li .col-md-8 p {
    display: -webkit-box;
    line-height: 1.4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 1.67em;
}
.category-menu ul li .col-md-8 .btn {
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    display: inline-block;
    cursor: pointer;
    padding: 0.4em 1.4em;
    text-transform: capitalize;

    font-size: 1em;
}

.menu-item-body p {
    height: 35px;
    overflow: hidden;

}

.menu-item-body h3 {
    margin-bottom: 1px;
}

.category-menu .img-thumbnail {
    height: 180px;
    width: 250px;
}