.review-item {
    background-color: white;
    margin-bottom: 10px;
    border: 1px solid #5d261c;
}

.review {
    margin:auto;
    color: #5d261c;
}

.review .row h3, .review .row p {
    margin-left: 13%;
    margin-top: -2%;
}

.review-title {
    text-transform: uppercase;
    font-family: Georgia, serif;
    font-size: 20pt;
    margin-left: 5%;
    color: #cac6a1;
}

.container .review {
    margin: 0 auto;
}

.customer-testimonials {
    padding-left: 70px;
}