.review-item {
    background-color: white;
    margin-bottom: 10px;
    border: 1px solid #5d261c;
}

.review {
    margin:auto;
    color: #5d261c;
}

.review .row h3, .review .row p {
    margin-left: 13%;
    margin-top: -2%;
}

.review-title {
    text-transform: uppercase;
    font-family: Georgia, serif;
    font-size: 20pt;
    margin-left: 5%;
    color: #cac6a1;
}

.container .review {
    margin: 0 auto;
}


.first-testimonials:first-child  {
    padding-left: 17% !important;
}

.reviews-container {
    margin-left: 17%;
}

.bubble:not(:first-child){
    margin-left:5px;
    margin-right: 5px;
}