<div class="container" id="wrapper-background">
<div ng-cloak>
    <h1 class="header-title">OUR MENU</h1>
    <p class="header-body">
        Cakes, tarts, chocholates make our life sweet
    </p>
</div>
</div>
<div class="contentMain-content-area">
    <div class="contentMain-content-area">
        <div id="breadcrumbs">
            <div class="container">
                <ol class="breadcrumb pull-left">
                    <li ng-repeat="item in vm.location"><a href="/#">HOME</a></li>
                    <li class="active">ARTICLES</li>
                </ol>

                <div class="myCuisine-search pull-right">
                    <form method="get" id="searchform" action="">

                        <input type="text" id="search-input" class="" name="searchInput" placeholder="Search this website...">

                        <button type="submit" id="search-button" class="btn browse-content-btn">Search</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- content-area -->

        <div class="content-area-container container" ng-cloak>
            <div class="content-items">
                <div id="blog-page-content" class="row">


                    <div class="col-xs-12 col-sm-9">
                        <section class="post">
                            <div class="thumb pull-left">
                                <img ng-src="" class="img-thumbnail" alt="img">
                            </div>
                            <div class="post-body">
                                Suspendisse aliquet sem ut nulla. Cras mollis ornare nisl. Morbi ac mi. Nunc eget nisi. Donec at enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed diam. Ut sagittis ultrices urna. Suspendisse eget erat non purus varius sodales. Aliquam imperdiet lobortis libero. Suspendisse scelerisque sagittis odio. Phasellus imperdiet interdum dolor. Mauris ante ante, gravida at, consectetuer quis, ullamcorper ornare, magna. Duis sed mauris sed libero tincidunt rutrum. In vulputate pretium dolor.Nullam ac erat. Donec a ipsum. Nullam tristique leo id lacus. Sed sed pede non arcu ornare interdum. Maecenas justo elit, rutrum in, adipiscing id, laoreet in, libero. Fusce quam. Donec a urna a enim gravida dictum. Nunc elementum, mauris sit amet imperdiet iaculis, dolor metus consectetuer mi, et tempor elit enim at massa. Duis ac nisl. Nullam pulvinar. Curabitur quam sapien, lobortis eu, luctus vitae, volutpat ac, metus. Nam elementum. Fusce fringilla. Praesent pulvinar turpis vitae justo cursus pulvinar. In hac habitasse platea dictumst. Nunc fermentum tellus interdum libero. Phasellus eros. Vestibulum euismod nunc at eros. Pellentesque nec ligula non tellus accumsan molestie. Pellentesque felis massa, tincidunt at, pulvinar id, placerat nec, velit.
                                Cras rhoncus ipsum ac dolor. In hac habitasse platea dictumst. Nulla dapibus ultricies pede. Quisque augue risus, porttitor nec, suscipit ut, pellentesque quis, lacus. Duis adipiscing purus eu metus pharetra porttitor. Aenean sapien nisi, sodales non, facilisis nec, ultricies et, erat. Cras aliquam. Maecenas mi. Sed lacus arcu, malesuada id, ultricies et, ornare non, dolor. Maecenas turpis lacus, vehicula nec, blandit in, laoreet a, nibh. Donec aliquet. In et leo tincidunt tortor rhoncus convallis. Nulla facilisi. Praesent bibendum semper eros. Morbi risus. Nam tellus leo, ullamcorper egestas, venenatis quis, viverra ac, mauris. In hac habitasse platea dictumst. Curabitur at velit vel sem auctor hendrerit. Integer mauris orci, vehicula eu, feugiat ac, hendrerit ut, dolor. Fusce elit nulla, gravida quis, vulputate eu, rutrum vel, lectus. Integer cursus luctus nisl. Quisque quam. Aliquam lectus urna, porta in, viverra eu, pellentesque a, massa. Etiam eros sapien, porta et, aliquam et, bibendum sit amet, erat. Sed condimentum interdum lacus. In ut ante non felis tincidunt porta. Aenean aliquet ornare sem. Nunc dignissim, erat sit amet vulputate cursus, elit magna facilisis massa, quis hendrerit nunc odio id dui. Proin interdum dictum arcu. Pellentesque erat ante, ultricies ac, porttitor ac, dictum et, purus. Donec enim odio, gravida ut, imperdiet quis, rutrum ut, lacus.
                                Etiam pharetra scelerisque diam. Maecenas varius augue vel urna. Vestibulum erat nisl, fringilla vel, mollis et, aliquam non, elit. Nulla malesuada turpis nec velit. Donec vitae sem a metus dictum molestie. Ut dignissim, odio non porttitor convallis, sapien leo viverra lorem, a consequat mauris erat sit amet dui. Nullam rutrum feugiat massa. Nullam lacinia purus vitae massa. Pellentesque vel tortor eget nulla ullamcorper vehicula. Cras egestas euismod magna. Praesent laoreet aliquet nulla. Aliquam arcu. Proin vel neque non ligula sodales sagittis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed magna. Pellentesque aliquet mollis arcu. Morbi at felis. Suspendisse ligula. Aliquam nisl arcu, vehicula vitae, hendrerit ut, sodales eu, augue. Sed tristique pretium risus. Ut luctus, dui quis commodo luctus, quam nulla ultricies lorem, eu ornare nulla metus at leo. Praesent rhoncus sapien sit amet mauris. Aenean commodo erat eu eros. Morbi tristique, risus sed consequat bibendum, enim augue tincidunt quam, ac semper libero velit vitae eros.
                            </div>
                        </section>
                        <section class="post-comments">
                            <h2 class="title">2 Comments</h2>
                            <div class="row comment">
                                <div class="thumb pull-left col-xs-2 col-sm-2">
                                    <img ng-src="" class="img-thumbnail" alt="img">
                                    <div>10-28-2009</div>
                                </div>
                                <div class="col-xs-12 col-sm-10 t">
                                    <div class="panel panel-default comment-body">
                                        <div class="panel-body">
                                            <h4 class="comment-title">Ana says:</h4>
                                            <div>
                                                Rhoncus quis, varius sed velit. Mauris quis nunc eu nunc molest. Rhoncus quis, varius sed velit. Mauris quis nunc eu nunc molest. Cras rhoncus ipsum ac dolor. In hac habitasse platea dictumst. Nulla dapibus ultricies pede. Quisque augue risus, porttitor nec, suscipit ut, pellentesque quis, lacus. Duis adipiscing purus eu metus pharetra porttitor. Aenean sapien nisi, sodales non, facilisis nec, ultricies et, erat. Cras aliquam. Maecenas mi. Sed lacus arcu, malesuada id, ultricies et, ornare non, dolor. Maecenas turpis lacus, vehicula nec, blandit in, laoreet a, nibh. Donec aliquet. In et leo tincidunt tortor rhoncus convallis. Nulla facilisi. Praesent bibendum semper eros. Morbi risus. Nam tellus leo, ullamcorper egestas, venenatis quis, viverra ac, mauris. In hac habitasse platea dictumst. Curabitur at velit vel sem auctor hendrerit. Integer mauris orci, vehicula eu, feugiat ac, hendrerit ut, dolor.
                                            </div>
                                            <input type="button" class="btn browse-content-btn pull-right" value="Reply" />
                                        </div>

                                    </div>
                                    <div class="re-comment col-xs-offset-2 col-sm-offset-0">
                                        <div class="row comment">
                                            <div class="thumb pull-left col-xs-12 col-sm-2">
                                                <img ng-src="" class="img-thumbnail" alt="img">
                                                <div>10-28-2008</div>
                                            </div>
                                            <div class="col-xs-12 col-sm-10 ">
                                                <div class="panel panel-default comment-body">
                                                    <div class="panel-body">
                                                        <h4 class="comment-title">Roon says:</h4>
                                                        <div>
                                                            Rhoncus quis, varius sed velit. Mauris quis nunc eu nunc molest. Rhoncus quis, varius sed velit. Mauris quis nunc eu nunc molest. Cras rhoncus ipsum ac dolor. In hac habitasse platea dictumst. Nulla dapibus ultricies pede. Quisque augue risus, porttitor nec, suscipit ut, pellentesque quis, lacus. Duis adipiscing purus eu metus pharetra porttitor. Aenean sapien nisi, sodales non, facilisis nec, ultricies et, erat. Cras aliquam. Maecenas mi. Sed lacus arcu, malesuada id, ultricies et, ornare non, dolor. Maecenas turpis lacus, vehicula nec, blandit in, laoreet a, nibh. Donec aliquet. In et leo tincidunt tortor rhoncus convallis. Nulla facilisi. Praesent bibendum semper eros. Morbi risus. Nam tellus leo, ullamcorper egestas, venenatis quis, viverra ac, mauris. In hac habitasse platea dictumst. Curabitur at velit vel sem auctor hendrerit. Integer mauris orci, vehicula eu, feugiat ac, hendrerit ut, dolor.
                                                        </div>
                                                        <button class="btn browse-content-btn pull-right">Reply</button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="comment-add">
                            <div id="comment-wrap">

                                <div id="comment-section" class="nocomments">
                                    <!-- If comments are open, but there are no comments. -->

                                </div>
                                <div id="respond" class="comment-respond">
                                    <h3 id="reply-title" class="title">Leave a Reply</h3>

                                    <form action="" method="post" id="commentform" class="">
                                        <div class="form-group">
                                            Your email address will not be published. Required fields are marked *
                                        </div>
                                        <div class="form-group">
                                            <label for="comment">Comment</label>
                                            <textarea id="comment" class="form-control" name="comment" cols="45" rows="8" aria-required="true" required="required"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="author">Name *</label>
                                            <input id="author" class="form-control" name="author" type="text" size="30" aria-required="true" required="required">
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email *</label>
                                            <input id="email" class="form-control" name="email" type="text" size="30" aria-describedby="email-notes" aria-required="true" required="required">
                                        </div>
                                        <div class="form-group">
                                            <label for="url">Website</label>
                                            <input id="url" class="form-control" name="url" type="text" size="30">
                                        </div>
                                        <div class="">
                                            <button name="submit" type="submit" id="submit" class="btn btn-default">Submit Comment</button>
                                        </div>
                                    </form>
                                </div><!-- #respond -->

                            </div>
                        </section>
                    </div>

                    <aside class="col-sm-3">
                        <div id="myCuisin-aside" class="collapse navbar-collapse">
                            <div class="recent-data">
                                <h3 class="title">Recent Posts</h3>
                                <div class="recent-data panel">
                                    <div class="panel-body">
                                        <ul>
                                            <li><a href="#/">New Theme: DeepFocus- Vivamus Donec quisquam on iusto</a></li>
                                            <li><a href="#/">Frankie on At vero eos et accusamus et iusto</a></li>
                                            <li><a href="#/">Sov on Urna eget erat non purus</a></li>
                                            <li><a href="#/">Light on Neque porro quisquam est qui</a></li>
                                            <li><a href="#/">Serg on Aenean bibendum elementum pede</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="recent-data">
                                <h3 class="title">Recent Comments</h3>
                                <div class="recent-data panel">
                                    <div class="panel-body">
                                        <ul>
                                            <li><a href="#/">New Theme: DeepFocus- Vivamus Donec quisquam on iusto</a></li>
                                            <li><a href="#/">Frankie on At vero eos et accusamus et iusto</a></li>
                                            <li><a href="#/">Sov on Urna eget erat non purus</a></li>
                                            <li><a href="#/">Light on Neque porro quisquam est qui</a></li>
                                            <li><a href="#/">Serg on Aenean bibendum elementum pede</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="recent-data">
                                <h3 class="title">Meta</h3>
                                <div class="recent-data panel">
                                    <div class="panel-body">
                                        <ul>
                                            <li><a href="#/">New Theme: DeepFocus- Vivamus Donec quisquam on iusto</a></li>
                                            <li><a href="#/">Frankie on At vero eos et accusamus et iusto</a></li>
                                            <li><a href="#/">Sov on Urna eget erat non purus</a></li>
                                            <li><a href="#/">Light on Neque porro quisquam est qui</a></li>
                                            <li><a href="#/">Serg on Aenean bibendum elementum pede</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div><!-- end .content-items -->
        </div>
    </div><!-- end content-area -->
</div>