<div class="common-footer">
    <div class="row recent-data">
        <div class="col-xs-12 col-sm-4">
            <h3><img src="../images/Logo.png" alt="My Cuisine"></h3>
            <div>
                Donec placerat sodales aliquet. Vivamus neque nulla, fermentum id ultrices at, vulputate et risus. Aenean non lectus ipsum. Curabitur sagittis urna vel elit euismod faucibus. Aliquam sed magna id dolor cursus ullamcorper ut commodo nunc. Mauris suscipit, dolor et tristique scelerisque, leo neque congue libero, mollis accumsan nulla
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <h3 class="title">Recent Comments</h3>
            <div>
                <ul>
                    <li><a href="#/">New Theme: DeepFocus- Vivamus Donec quisquam on iusto</a></li>
                    <li><a href="#/">Frankie on At vero eos et accusamus et iusto</a></li>
                    <li><a href="#/">Sov on Urna eget erat non purus</a></li>
                    <li><a href="#/">Light on Neque porro quisquam est qui</a></li>
                    <li><a href="#/">Serg on Aenean bibendum elementum pede</a></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <h3 class="title">Text widget</h3>
            <div>
                Aliquam sed magna id dolor cursus ullamcorper ut commodo nunc. Donec placerat sodales aliquet. Vivamus neque nulla, fermentum id ultrices at, vulputate et risus. Aenean non lectus ipsum. Curabitur sagittis urna vel elit euismod faucibus. Aliquam sed magna id dolor cursus ullamcorper ut commodo nunc. Mauris suscipit, dolor et tristique scelerisque, leo neque congue libero, mollis accumsan nulla
            </div>
        </div>
    </div>
</div>