<div class="home">
        <div id="carouselIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
                    <!-- Indicators -->
                    <ol class="carousel-indicators hidden-md-down">
                        <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselIndicators" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                     <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="../images/slider/Cake_Strawberry_Blueberries_Dessert.jpg" alt="cake">
                            <div class="carousel-caption slider-title">
                                <p>TARTS</p>

                                <div class="slider-description">
                                    <p>Cake is a form of sweet dessert that is typically baked.</p><p class="hidden-xs"> In its oldest forms, cakes were modifications of breads, but cakes now cover a wide range of preparations.</p>

                                </div>
                                <div class="slider-button">
                                <a href="#/menu/tarts" class="btn">Read More</a>

                            </div>
                        </div>
                     </div>
                        <div class="item">
                            <img src="../images/slider/333634.jpg" alt="cake">
                            <div class="carousel-caption slider-title">
                                <p>CHOCOLATE CAKE</p>

                            <div class="slider-description">
                                <p>Cake is a form of sweet dessert that is typically baked.</p><p class="hidden-xs"> In its oldest forms, cakes were modifications of breads, but cakes now cover a wide range of preparations. </p>

                            </div>
                            <div class="slider-button">
                                <a href="#/articles/2" class="btn">Read More</a>
                            </div>
                        </div>
                     </div>
                        <div class="item">
                            <img src="../images/slider/luxfon.com_35149.jpg" alt="coffee">
                            <div class="carousel-caption slider-title">
                                <p>COFFEE AND SWEETS</p>

                            <div class="slider-description">
                                <p>Cake is a form of sweet dessert that is typically baked.</p><p class="hidden-xs"> In its oldest forms, cakes were modifications of breads, but cakes now cover a wide range of preparations.</p>

                            </div>
                            <div class="slider-button">
                                <a href="#/articles/3" class="btn">Read More</a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
<div class="slider-shadow">
    <div class="text-center">
        <img src="../images/slider-shadow.jpg" alt="slider-shadow" class="slider-shadow">
    </div>
</div>

    <div id="slogan">
        <div class="container">
            <h2 class="slogan-header center">“Bake the world a better place”</h2>
            <h3 class="slogan-down center">Sweet life</h3>

            <div id="stars" class="center">
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
            </div>
        </div>
    </div>

    <div class="content-area-container container home">
        <div class="container-fluid home-view-container">
            <div class="row home-main">
                <div class="col-12 col-md-4 col-sm-6 recommendations">
                    <h5 class="main-title">Chef's recommendations</h5>
                    <ul class="list-unstyled">
                        {{#each this}}
                            <li >
                                <div class="row">
                                <div class="col-12 col-md-2 col-xs-4 pr-0 pl-0 home-img">
                                    <img class="img-fluid thumb rounded-0" src="{{image}}" alt="cake">
                                </div>
                                <div class="col-12 col-sm-7 col-md-9 menu-home">
                                    <a href="#/articles/{{id}}/">
                                        <h5 class="second-title recommend-title">{{name}}</h5>
                                    </a>
                                    <div class="d-block text-truncate mb-0" style="max-width:250px; display: block">
                                        <p class="main-text">Quisque ut malesuada enim...</p>
                                    </div>
                                    <a href="#/articles/{{id}}/" class="d-block more" title="read-more"><span class="readmore">Read more</span></a>
                                </div>
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="col-12 col-md-4 map col-sm-6" display="margin: 0 auto">
                    <h5 class="main-title pb-2">Location and operation hours</h5>
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe style="height:100%;width:100%;border:0;" frameborder="0"
                                src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJJ8m0mFmEqkARTp-nWqB3gJo&key=AIzaSyCoW01ypLvB1JFikKNHP14-I3c3XvYn1S8"></iframe>
                    </div>
                    <div class="location">bul. Cherni Vruh, Sofia</div>
                    <div class="time">
                        <span class="day">mon-fri</span>
                        <span class="hour">10am-23pm</span>
                        <span class="day">sat-sun</span>
                        <span class="hour">10am-24pm</span>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 testimonials">
                    <h5 class="main-title pb-2">Customer testimonials</h5>

                        <div class="bubble">
                            <img src="../images/users/sansa.jpg" alt="customer" class="img-fluid thumb rounded-0" />
                            <div class="testimonials-bubble">
                                <h5 class="second-title">Sansa Stark</h5>
                                <p>
                                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque viverra enim lacus, at dictum velit volutpat eu. Nullam
                                    ut risus vehicula, facilisis arcu sed, volutpat libero."
                                </p>
                            </div>
                        </div>
                        <div class="clear"></div>
                </div>
            </div>
        </div>
        </div>
    <div id="btn-browse-menu" class="text-center">
        <a href="#/menu" class="btn browse-content-btn home-menu-btn">Click To Browse The Menu</a>
    </div>
