<div class="container" id="wrapper-background">
    <div class="page-title">
        <h1 class="header-title">Location</h1>
        <p class="header-body">
            You are welcome
        </p>
    </div>
</div>
<div class="contentMain-content-area">
    <div id="breadcrumbs" >
        <div class="container bts-correction">
            <ol class="breadcrumb pull-left">
                <li><a href="/#">HOME</a></li>
                <li class="active"> LOCATION</li>
            </ol>

            <div class="myCuisine-search pull-right">
                <form method="get" id="searchform" action="">

                    <input type="text" id="search-input" class="" name="searchInput"
                           placeholder="Search this website...">

                    <button type="submit" id="search-button">Search</button>
                </form>
            </div>
        </div>
    </div>

    <!-- content-area -->
        <div class="container-fluid content-area-container bts-correction">
            <div class="row contnt-items">
                <div id="location-page-content">
                    <div class="col-12 col-sm-5 col-md-3" style="margin-left: 17%;">
                        <div>
                            <h3 class="title">Address</h3>
                            <p>bul Cherni vruh 52</p>
                        </div>
                        <div>
                            <h3 class="title">Hours of operation</h3>
                            <p>MONDAY-FRIDAY: <span>10-24 pm</span></p>
                            <p>SATARDAY-SUNDAY: <span>11-23 pm</span></p>
                        </div>
                        <div>
                            <h3 class="title">Contact Info</h3>
                            <p>EMAIL ADDRESS: <span>lilibabacheva@yahoo.com</span></p>
                            <p>TELEPHONE: <span>+359888888888</span></p>
                            <p>FAX: <span>+359888888888</span></p>
                        </div>

                    </div>

                    </div>
                    <div class="col-12 col-sm-7 col-xs-12 ml-auto map-wrapper">
                            <iframe class="map-frame"
                                    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJJ8m0mFmEqkARTp-nWqB3gJo&key=AIzaSyCoW01ypLvB1JFikKNHP14-I3c3XvYn1S8"></iframe>
                        </div>
                    </div>
        </div>
</div>
