<div id="home-testimonials" class="col-xs-12 col-sm-4">
    <h3 class="main-title">Customer Testimonials</h3>
    <div class="testimonial panel panel-default">
        <div class="panel-body">
            <div class="thumb pull-left">
                <img src="https://imagesvc.timeincapp.com/v3/fan/image?&url=https://winteriscoming.net/files/2017/04/Tyrion-1.jpg" class="img-thumbnail" alt="Tyrion Lanister">
            </div>
            <div class="name">
                <h3>Tyrion Lannister</h3>
            </div>
            <p>"Bread, and two of those little fish. And a mug of dark beer to wash it down. And bacon, burnt black."</p>
        </div>
    </div>
</div>