<div class="container" id="wrapper-background">
    <div class="page-title">
        <h1 class="header-title">REVIEWS</h1>
        <p class="header-body">
            Cakes, tarts, chocolates make our life sweet
        </p>
    </div>
</div>
<div class="contentMain-content-area">
    <div class="contentMain-content-area">
        <div id="breadcrumbs">
            <div class="container">
                <ol class="breadcrumb pull-left hidden-sm hidden-xs">
                    <li><a href="/#">HOME</a></li>
                    <li class="active">REVIEWS</li>
                </ol>

                <div class="myCuisine-search pull-right">
                    <form method="get" id="searchform" action="">

                        <input type="text" id="search-input" class="" name="searchInput"
                               placeholder="Search this website...">

                        <button type="submit" id="search-button">Search</button>
                    </form>
                </div>
            </div>
        </div>


        </div>
    <div class="content-area-container container reviews">
        <div class="container-fluid home-view-container">
        <h5 class="main-title pb-2 customer-testimonials">Customer testimonials</h5>
        {{#each this}}
        <div class="col-sm-6 col-md-4 testimonials first-testimonials">

            <div class="shadow">
                <div class="bubble" style="width: 245px !important">
                    <img src="{{image}}" alt="customer" class="img-fluid thumb rounded-0" />
                    <div class="testimonials-bubble">
                        <h5 class="second-title">{{name}}</h5>
                        <p>
                            {{review}}
                        </p>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

        </div>
            {{/each}}
        </div>
    </div>
</div>

